.topLeftContainer {
    width: 100%;
    height: 100%;
    border-left: 4px solid rgba(0, 0, 0, 0.5);
    border-right: 4px solid rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset -3px -3px 9px 0;
    -moz-box-shadow: inset -3px -3px 9px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset -3px -3px 9px 0 rgba(0, 0, 0, 0.3);
    transition: transform 2s ease-in-out;
    transition-delay: 2s;
}

.topMiddleContainer {
    /*background-color: rgba(255, 0, 0, 0.3);*/
    position: relative;
    width: 75%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.topRightContainer {
    width: 100%;
    height: 100%;
    border-left: 4px solid rgba(0, 0, 0, 0.5);
    border-right: 4px solid rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 3px -3px 9px 0;
    -moz-box-shadow: inset 3px -3px 9px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 3px -3px 9px 0 rgba(0, 0, 0, 0.3);
}

.mainImg {
    position: absolute;
    margin: 0;
    height: 60%;
    bottom: 0;
    justify-self: center;
    align-self: center;

    z-index: 1;
}

.particlesContainer {
    z-index: -1;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.particles {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}

.heading h1 {
    position: relative;
    font-family: proxima-nova, sans-serif;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 120px 0 8px;
    color: #555;
    font-size: 4rem;
}

.content {
    font-family: proxima-nova, sans-serif;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content h1 {
    margin: 10px 0 8px;
    color: #555;
    font-size: 5rem;
}

.content h2 {
    margin: 1px;
    color: #555;
    font-size: 4rem;
}

.content h3 {
    margin: 1px;
    color: #555;
    font-size: 3rem;
}

.content p {
    margin: 20px 0 8px;
    color: #757575
}