.bottomPanelHeading {
    padding-top: 50px;
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 0;
    width: auto;
}

.bottomPanelHeadingText {
    text-align: center;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    color: rgba(117, 117, 117, 1);
}

.hr {
    width: 20%;
    height: 2px;
    opacity: 50%;
    color: rgba(117, 117, 117, 0.8);
    background-color: rgba(117, 117, 117, 0.8);
    margin: 0;
    padding: 0;
}

.projectsContainer {
    display: flex;
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    justify-content: center;
    align-content: center;
}