

.wave1 {
    z-index: -1;
    padding:0;
    opacity: 50%;
    position: absolute;
    width: 30%;
    height: 30%;
    margin: 6%;
    right: 0;
    rotate: 220deg;
    filter: drop-shadow(-8px -6px 0px var(--pastel-purple-0));
}

.wave2 {
    z-index: -1;
    padding:0;
    opacity: 50%;
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0;
    top: 0%;
    rotate: 220deg;
    filter: drop-shadow(-8px -6px 0px var(--pastel-purple-0));
}

.wave4 {
    z-index: -1;
    padding:0;
    opacity: 50%;
    position: absolute;
    width: 40%;
    height: 40%;
    margin: 0;
    right: 0;
    top: 10%;
    rotate: 120deg;
    filter: drop-shadow(-8px -6px 0px var(--pastel-purple-0));
}



.blob1 {
    z-index: -1;
    padding:0;
    opacity: 65%;
    position: absolute;
    width: 30%;
    height: 30%;
    bottom: -5%;
    left: 33%;
    rotate: -43deg;
    filter: drop-shadow(-8px -6px 0px var(--pastel-purple-0));
    justify-self: center;
}

.circle1Outer {
    display: flex;
    opacity: 20%;
    position: absolute;
    width: 20vh;
    height: 20vh;
    overflow: hidden;
    background-color: var(--pastel-yellow-2);
    border-radius: 50%;
    border: 10px solid var(--pastel-purple-5);
    z-index: 0;
    justify-content: center;
    bottom: -30%;
    left: -20%;
}

.circle1Inner {
    position: relative;
    width: 50%;
    height: 50%;
    align-self: center;
    background-color: var(--pastel-purple-1);
    border-radius: 50%;
    border: 10px solid var(--pastel-purple-5);
}

