.topContainer {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 2;
    position: relative;
}

.topMiddleContainer {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 3;
    position: relative;
}

.mainImg {
    position: absolute;
    height: 60%;
    bottom: 0;
    left: 50%;
    justify-self: center;
    align-self: center;
    z-index: 100;
}

.particlesContainer {
    z-index: 10;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.particles {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}

.rightContentWrapper {
    position: absolute;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftContentWrapper {
    margin:0;
    padding:10px;
    position: relative;
    width: 75%;
    border: 2px solid #666;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
}

.leftContentWrapper h2 {
    margin: 1px;
    color: #666;
    font-size: 2.5rem;
    text-align: center;
    font-family: var(--main-font);
}

.projectsContainer {
    display: flex;
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    justify-content: center;
    align-content: center;
}


/*==============================================*/

.bottomContainer {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-flow: column;
    margin: 0 0;
    justify-content: space-around;
    align-content: center;
    gap: 2rem;
}

.bottomContainer ul {
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0px 0px 0px;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 4rem;

}

.aboutBox {
    align-content: center;
    margin: 1px;
    padding: 50px;
    color: #666;
    font-size: 2.5rem;
    text-align: center;
    font-family: var(--main-font);
    min-width: 20%;
    min-height: 5rem;
    border-radius: 20px;
    border: 3px solid var(--pastel-yellow-2);
    background-color: var(--pastel-purple-0);
}

.aboutBox h2 {
    margin: 10px;
    color: var(--pastel-purple-5);
    font-size: 2.5rem;
    text-align: center;
    font-family: var(--main-font);
}

.aboutBox h1 {
    font-size: 2vw;
    margin: 0;
    padding: 5px 0 10px 0;
}

.aboutBox p {
    font-size: 1vw;
    margin: 2px;
    padding: 0;
}

