.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0 0 50px 50px;
}

.topPanelContainer  {
    height: 45%;
    width: 100%;
    background: var(--top-left-bg-colour);
    -webkit-box-shadow:
            inset -3px 0px 9px 0,
            inset 3px 0px 9px 0
;
    -moz-box-shadow:
            inset -3px 0px 9px 0 rgba(0, 0, 0, 0.3),
            inset 3px 0px 9px 0 rgba(0, 0, 0, 0.3);

    box-shadow:
            inset -3px 0px 9px 0 rgba(0, 0, 0, 0.3),
            inset 3px 0px 9px 0 rgba(0, 0, 0, 0.3);
}

/*----------------------------------------------*/

.bottomPanelContainer {
    display: flex;
    flex-direction: column;
    height: 55%;
    min-height: 55%;
    background: var(--bottom-bg-colour);
    border-top: 4px solid var(--border-colour);
    -webkit-box-shadow:
            inset 3px 3px 9px 0,
            inset -3px -3px 9px 0;
    -moz-box-shadow:
            inset 3px 3px 9px 0 rgba(0, 0, 0, 0.3),
            inset -3px -3px 9px 0 rgba(0, 0, 0, 0.3);
    box-shadow:
            inset 3px 3px 9px 0 rgba(0, 0, 0, 0.3),
            inset -3px -3px 9px 0 rgba(0, 0, 0, 0.3);
    z-index: 2;
    border-radius: 0 0 50px 50px;
    overflow: hidden;
}

/*----------------------------------------------*/

.bottomPanelHeading {
    padding: 40px 0 20px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 0 0;
    height: fit-content;
}

.bottomPanelHeadingText {
    text-align: center;
    align-content: center;
    width: fit-content;
    padding: 0;
    margin: 0 20px 0 20px;
    font-weight: bold;
    color: rgba(117, 117, 117, 1);
}

.hr {
    width: 20%;
    height: 2px;
    opacity: 50%;
    color: rgba(117, 117, 117, 0.8);
    background-color: rgba(117, 117, 117, 0.8);
    margin: 0;
    padding: 0;
}

.h1 {
    width: 100%;
    margin:0;
    bottom: 0;
    font-family: var(--main-font);
    position: absolute;
    font-size: 4vw;
    text-align: center;
    justify-content: center;
    color: #666;
}




