.mainContainer {
  margin: 0;
  padding: 0;
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.topPanelContainer {
  position: static;
  flex: 10;
  background-color: #FFF;
  border-bottom: 4px solid rgba(111, 78, 55, 0.5);
  bottom: 0;
  justify-content: center;
}

.imgContainer {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: end;
}

.mainImg {
  height: 60%;
  align-content: center;
}

.bottomPanelContainer {
  position: static;
  flex: 8;
  background-color: #EEE;
  flex-direction: column;
  justify-content: center;
}

.bottomPanelHeading {
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 0;
  width: auto;
}

.bottomPanelHeadingText {
  padding: 0;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  color: rgba(111, 78, 55, 0.8);
  opacity: 75%;
}

.hr {
  width: 20%;
  height: 2px;
  opacity: 50%;
  color: rgba(111, 78, 55, 0.8);
  background-color: rgba(111, 78, 55, 0.8);
  margin: 0;
  padding: 0;
}

.projectsContainer {
  display: flex;
  /*margin-left: 20%;*/
  /*margin-right: 20%;*/
  width: 100%;
  justify-content: center;
  align-content: center;
}





